<h1>Stupid Coaching</h1>
<div class="container">
  <div class="text">
    <p class="message"><%= @query %></p>
    <p>- Your question</p>
  </div>
  <div class="text">
    <p class="message"><%= @answer %></p>
    <p>- Your coach</p>
  </div>
  <button class="btn btn-back">
    <%= link_to "Ask a question", ask_path %>
  </button>
</div>