<div class="container">
  <h1>Hello Mayline!</h1>

  <form action="/answer" class="form">
    <input type="text" name="question" placeholder="Allez dis-moi tout!" class="input">
    <input class ="btn" type="submit" value="Ask!">
  </form>
</div>