<div class="container">
  <h1>Hello Party People!</h1>

  <p>Ask your coach anything:</p>

  <form action="/answer" class="form">
    <input type="text" name="question" placeholder="Call it out!" class="input">
    <input class ="btn" type="submit" value="Ask!">
  </form>
</div>