// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  color: darkgray;
  text-align: center;
}

.container {
  width: 300px;
  padding: 16px 0;
  margin: 0 auto;
}

.text {
  border-left: 4px solid green;
  padding: 0 8px;
}

.message {
  font-size: 18px;
  font-weight: bold;
}
.btn {
  padding: 10px 46px;
  border-radius: 4px;
  background-color: blue;
  border: 0;
  color: white;
  a {
    color: white;
  }
}